.root {
  background-color: var(--mantine-color-purple-5);
  &:hover {
    background-color: var(--mantine-color-purple-6);
  }
  &:active {
    background-color: var(--mantine-color-purple-4);
  }
}
