.card {
  display: flex;
  padding: 24px;
  gap: 8px;

  .info {
    display: flex;
    gap: 16px;


    .description {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    
  }
}