.option {

  &:hover {
    background-color: var(--mantine-color-purple-1) !important;
  }

  &[data-combobox-active="true"] {
    background-color: var(--mantine-color-purple-5);
    color: white;
    &:hover {
      background-color: var(--mantine-color-purple-5) !important;
    }
  }
}

// .dropdown {
//   overflow-x: auto;
//   overflow-y: scroll;
//   scrollbar-width: thin;
// }